html, body {
  height: 100%;
  position: relative;
}

a {
  color: #005a8b;
}

.nav > li > a {
  padding-left: 13px;
  padding-right: 13px;
}

@media (max-width: 480px) {
  .col-xxs-12 {
    width: 100%;
  }
}

img {
  max-width: 100%;
}

.section {
  text-align: center;
  padding-bottom: 100px !important;
}

a:focus, button:focus, input:focus, textarea:focus {
  outline: none;
  min-width: 1px;
}

a:hover,
a:active {
  color: #005a8b;
  text-decoration: none;
}

.content {
  overflow: auto;
  padding-bottom: 139px;
}

.body-wrapper {
  position: relative;
  min-height: 100%;
}

.lightbox-nav {
  min-height: 20px !important;
}

.body-wrapper-two {
  position: relative;
  min-height: 99%;
}

/*.login-container {*/
/*padding-bottom: 100px!important;*/
/*}*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.new-scan-form .checkbox-container .controls {
  margin: 11px 8px 0 0;
}

.row {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}

/*.ng-enter, .ng-leave {*/
/*position: absolute;*/
/*left: 0;*/
/*right: 0;*/
/*transition:opacity 1s ease-out;*/
/*}*/

/*.ng-enter {*/
/*opacity: 0;*/
/*}*/

/*.ng-enter-active {*/
/*opacity: 1;*/
/*}*/

/*.ng-leave {*/
/*opacity: 1;*/
/*}*/

/*.ng-leave-active {*/
/*opacity: 0;*/
/*}*/

.undecorated-link:hover {
  text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.row {
  /* margin-right: 0; */
  /* margin-left: 0; */
  position: relative;
}

.clear {
  clear: both;
}

.margin40 {
  margin-bottom: 40px;
  clear: both;
}

.title-group {
  padding: 35px;
  background: #ececec;
  margin-bottom: 60px;
  text-align: center;
  color: #000000;
}

.title-group h1 {
  color: #777777;
  margin: 0;
  font-size: 32px;
}

.btn:active, .btn.active {
  background: #005a8b;
  color: #ffffff;
}

.bg-danger, .bg-success, .bg-info {
  clear: both;
  padding: 15px;
  text-align: center;
  margin: 0;
  width: 100%;
}

.display-block {
  display: block;
}

.bold {
  font-weight: 700;
}

.form-group {
  padding: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.angular-google-map-container {
  width: 535px;
  height: 380px;
}

.map-container {
  clear: both;
}

.right-border {
  border-right: 1px solid #eee;
}

.create-user-title {
  margin: 0 0 10px 0;
}

.manage-users-container {
  padding-left: 40px;
}

.manage-users-container h3 {
  margin-bottom: 45px;
}

.hidden-opacity {
  visibility: hidden;
  height: 0 !important;
  overflow: hidden !important;
}

.lightbox-modal .modal-dialog {
  margin-top: 200px;
}

.flex-direction-nav a {
  top: 20% !important;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  text-align: center !important;
}

.flexslider .slides img {
  width: auto !important;
  display: inline-block !important;
}

.dropdown .caret {
  border-top-color: rgb(119, 119, 119);
}

.dropdown .caret:hover {

  border-top-color: #333333;

}

.dropdown.active .caret {

  border-top: none;
  border-bottom: 4px dashed #005a8b !important;
}

@media (max-width: 991px) {
  .right-border {
    border-right: 0;
  }

  .manage-users-container {
    padding-left: 0;
  }
}
